@import '../../../constants/styles/sizes';
@import '../../../constants/styles/colors';

.navigation-bar {
    padding: $padding-xl;
    &__logo-wrapper {
        display: flex;
        align-items: center;
    }
    &__icon {
        color: $col-special;
        font-size: $font-size-l;
        margin-left: $margin-l;
    }
    &__stanko {
        color: $col-special;
        font-size: $font-size-l;
        margin-left: $margin-l;
        font-weight: bold;
        > img {
            height: 30px;
        }
    }
    &__stanko-image {
        height: 32px;
        width: 32px;
    }
    &__button {
        .MuiButton-label {
            text-transform: lowercase;
            font-size: $font-size-m;
            text-decoration: none;
        }
        border: 0;
    }

    &__hover-animation {
        display: inline-block;
        position: relative;
    }
    &__hover-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $col-special;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
    &__hover-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    &__log-out-button {
        color: $col-red;
    }
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &__icon {
            color: $col-special;
            font-size: $font-size-l;
        }
        &__popover {
            background-color: $col-light;
            &__item {
                border-bottom: $col-special;
            }
        }
    }
}