@import '../../../constants/styles/colors';
@import '../../../constants/styles/sizes';

.apartment-card-container {
	height: 36vh;
}
.apartment-card {
	margin: $margin-m $margin-m $margin-m $margin-m;
	border: 1px solid rgba(128, 128, 128, 0.144);
	border-radius: $border-radius-l;
	background-color: $col-light;
	height: 36vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	&:hover {
		box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
	}
	cursor: pointer;
	&__carousel-wrapper {
		height: 50%;
		padding: $padding-xl $padding-xl $padding-m $padding-xl;
	}
	&__carousel {
		height: 100%;
		&__image {
			width: 100%;
			height: 100%;
			max-height: 20vh;
		}
	}
	&__icon {
		color: $col-special;
		font-size: $font-size-l;
		margin-left: $margin-m;
	}
	&__left {
		display: flex;
		justify-content: space-evenly;

		padding: $padding-s $padding-m 0 $padding-m;
	}
	&__tags {
		display: flex;
		justify-content: left;
		align-items: center;
	}
	&__right-row {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: $padding-s $padding-s $padding-s 0;
		font-size: $font-size-m;
	}
}

@media only screen and (max-width: 600px) {
	.apartment-card-container {
		height: 40vh;
	}
	.apartment-card {
		height: 40vh;
		margin: 0px;
		margin-bottom: $margin-s;
		&__left {
			display: flex;
			justify-content: space-evenly;
			padding: $padding-m $padding-m $padding-m $padding-m;
		}
		&__right-row {
			padding: $padding-m $padding-m $padding-m 0;
		}
	}
}
