@import '../../constants/styles/colors';
@import '../../constants/styles/sizes';

.apartments {
	&__header {
		display: flex;
		align-items: start;
		font-size: $font-size-l;
		padding: $padding-s;
	}

	&__filter {
		.MuiButton-label {
			color: $col-special;
			font-size: $font-size-m;
			text-transform: initial;
		}

		&__icon {
			margin-left: $margin-m;
			font-size: $font-size-m;
			color: $col-special;
		}
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: $padding-xl;
		padding-right: $padding-xl;
	}

	&__list {
		height: 80vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media only screen and (max-width: 600px) {
	.apartments {
		&__list {
			height: 40vh;
			margin-bottom: 2vh;
			overflow-y: visible;
		}
	}
}