@import '../../../constants/styles/colors';
@import '../../../constants/styles/sizes';

.tag {
    margin-left: $margin-l;
    margin-top: $margin-m;
    .MuiChip-root {
        color: white;
        font-size: $font-size-xs;
        background-color: $col-special;
        padding: $padding-s;
        > svg{
            font-size: $font-size-s;
            color: white;
            margin-right: $margin-s;
        }
        height: 24px;
        &:focus {
            color: white;
            background-color: $col-blue;
        }
    }
    .MuiChip-label {
        color: white;
        text-transform: uppercase;
        padding: 2px;
    }
    .MuiChip-deleteIcon {
        margin-left: $margin-s;
    }
}