@import 'constants/styles/colors.scss';
@import 'constants/styles/sizes.scss';
@import url('https://fonts.googleapis.com/css?family=Oxygen');




html {
	background-color: $col-lightest;
	color: black;
	font-family: 'Oxygen';
	height: 100%;
}
body, #root {
	margin: 0;
	height: 100%;
}

.app-loading {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
