@import '../../../constants/styles/colors';
@import '../../../constants/styles/sizes';

.add-apartment-modal {
    background-color: $col-light;
    &__title {
        padding: $padding-l;
        font-size: $font-size-l;
        font-weight: bold;
        border-bottom: 2px solid grey;
        box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.50);
        margin-bottom: $margin-l;
    }
    &__body {
        height: 70vh;
        overflow-y: auto;
    }
    &__row {
        margin: 0 0 $margin-l 0;
    }
    &__input {
        padding: $padding-l;
        &__uploaded-image {
            height: 30px;
            margin-right: $margin-l;
            margin-top: $margin-s;
            border: 3px solid black;
            border-radius: 4px;
        }
        &--custom {
            margin: $margin-l 0;
        }
    }
    &__input-icon {
        color: $col-blue;
    }
    &__footer {
        display: flex;
        justify-content: right;
        padding: $padding-l;
        border-top: 2px solid grey;
        box-shadow: 0px -1px 1px rgba(50, 50, 50, 0.50);
        &__button {
            margin-right: $margin-l;
            .MuiButton-root {
                font-size: $font-size-m;
                text-transform: capitalize;
                background-color: $col-special;
                color: white;
                &:hover {
                    background-color: $col-blue;
                }
            }
            .MuiButton-root.Mui-disabled {
                background-color: rgba(128, 128, 128, 0.5);
                color: white;
                cursor: not-allowed;
                pointer-events: inherit;
                &:hover {
                    background-color: rgba(128, 128, 128, 0.25);
                }
            }
        }
    }
}